<div class="sticker-bg">
  <div id="mask">
    <div class="content-container">
      <div class="about">
      <p>Made with Angular and ASP.NET API + SQL</p>
      <p>Team Lead - Logan Baker</p>
      <a href="https://github.com/logbak">Logan's Github |</a>
      <a href="https://www.linkedin.com/in/logan-baker-9b2244107/"> Logan's LinkedIn</a>
      <br>
      <p>Sam Richards</p>
      <a href="https://github.com/MasterTyrr">Sam's Github |</a>
      <a href="https://www.linkedin.com/in/sam-richards-855777124/"> Sam's LinkedIn</a>
      <br>
      <p>Stephen McFarland</p>
      <a href="https://github.com/StephenMcFarland">Stephen's Github |</a>
      <a href="https://www.linkedin.com/in/snmcfarland/"> Stephen's LinkedIn</a>
      <br>
      <br>
    </div>     
    <img id="beach" src="../../../assets/beach.png" alt="Beach ASCII">
    </div>
  </div>
</div>