.NavBar{
    background: brown;
}
.Logo{
    vertical-align: bottom;
    height: 4.5em;
    margin-right: 1em;
}
.NavBarButton{
    color:white;
    border: none;
    background: transparent;
    margin: 2em;
}

#logout {
    float: right;
}