<div class="sticker-bg">
  <div id="mask">
    <div class="content-container">
      <div class="center-content">

        <h2>New Vacation</h2>

        <form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="vacationForm">
          <div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Name" formControlName="Name" type="Name" required />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Description" formControlName="Description" type="Description" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="ImageSource" formControlName="ImageSource" type="url" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput [min]="minDate" [matDatepicker]="picker" placeholder="Start Date"
                  formControlName="StartDate" type="datetime" required />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="month" [startAt]="minDate"></mat-datepicker>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput [min]="minDate" [matDatepicker]="picker2" placeholder="End Date"
                  formControlName="EndDate" type="datetime" />
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 startView="month" [startAt]="minDate"></mat-datepicker>
              </mat-form-field>
            </div>
            <h4>Attendees</h4>
            <br>
            <div id="AttendeeForm">
              <div formArrayName="Attendees">
                <div *ngFor="let address of Attendees.controls; let i=index">
                  <div id="attendeeLine">
                    <input matInput type="text" [formControlName]="i">
                  </div>
                  <a mat-button (click)="removeAttendee(i)">Remove line</a>
                </div>
              </div>
              <a mat-button (click)="addAttendees()">Add Attendee</a>
            </div>

          </div>
          <button mat-button color="primary" class="nav-btn" type="submit">Create Vacation</button>
        </form>

      </div>
    </div>
  </div>
</div>