#attendeeLine {
    font-family: 'Nothing You Could Do', cursive;
    background-color: rgb(253, 236, 215);
    border-style: inset;
    width: 50%;
}

#AttendeeForm a {
    background-color: seashell;
    color: black;
    text-decoration: underline;
}