<h1>Admin Portal</h1>
<hr>

<!-- <div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
  </mat-table>

  <ng-container matColumnDef="details">
    <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
    <mat-cell *matCellDef="let Vacation" routerLink="/Vacations/detail/{{Vacation.ID}}">
      <i class="material-icons">Vacations</i>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="User">
    <mat-header-cell *matHeaderCellDef>User</mat-header-cell>
    <mat-cell *matCellDef="let Vacation">{{Vacation.UserID}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Vacation Name">
    <mat-header-cell *matHeaderCellDef>Vacation Name</mat-header-cell>
    <mat-cell *matCellDef="let Vacation">{{Vacation.Name}}</mat-cell>
  </ng-container>
</div> -->

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

    <ng-container matColumnDef="EventTypeID">
      <mat-header-cell *matHeaderCellDef class="matColumnSize">ID</mat-header-cell>
      <mat-cell *matCellDef="let EventType"> {{EventType.ID}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="EventTypeName">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let EventType"> {{EventType.Name}} </mat-cell>
    </ng-container>
  </mat-table>
</div>

<app-footer></app-footer>