.TableHeader{
    background:White;
    margin-top: 10vh;
}
.TableHeaderText{
    margin-left: 17.5vw;
}
.material-icons{
    height: 2vh;
    width: 2vw;
}
.CreateIcon{
    height: 2vh;
    width: 2vw;
}
