<div class="sticker-bg">
  <div id="mask">
    <div class="content-container">

      <h2>
        My Vacations
      </h2>
      <a mat-button color="primary" routerLink="/vacation/new">Create New</a>

      <div>
        <mat-table #table [dataSource]="dataSource">
          <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

          <ng-container matColumnDef="Edit">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let vacation">
              <a mat-button color="primary" routerLink="/vacation/{{vacation.ID}}">Edit</a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="StartDate">
            <mat-header-cell *matHeaderCellDef> Vacation Start Date</mat-header-cell>
            <mat-cell *matCellDef="let vacation"> {{vacation.StartDate | date:'medium'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="EndDate">
            <mat-header-cell *matHeaderCellDef> Vacation End Date</mat-header-cell>
            <mat-cell *matCellDef="let vacation"> {{vacation.EndDate | date:'medium'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef> Vacation Name</mat-header-cell>
            <mat-cell *matCellDef="let vacation"> {{vacation.Name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Description">
            <mat-header-cell *matHeaderCellDef> Vacation Description</mat-header-cell>
            <mat-cell *matCellDef="let vacation"> {{vacation.Description}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="TotalCost">
            <mat-header-cell *matHeaderCellDef> Vacation Total Cost</mat-header-cell>
            <mat-cell *matCellDef="let vacation"> {{vacation.TotalCost}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ImageSource">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let vacation"> <img src="{{vacation.ImageSource}}"
                style="width:100%;border-radius:10px;" />
            </mat-cell>
          </ng-container>

        </mat-table>
      </div>
    </div>
  </div>
</div>