<div class="sticker-bg">
  <div id="mask">
    <div class="content-container" *ngIf="vacation">
      <div *ngIf="vacation">
        <h2>
          Vacation Detail/Edit
        </h2>
        <a mat-raised-button color="primary" routerLink="/vacation/my-vacations">My Vacations</a>

        <div class="detail-edit">
          <div fxLayout="row wrap" fxLayoutGap="10%" fxLayoutAlign="flex-start">
            <label for="">Date Created:</label>
            <p>{{vacation.CreatedDate | date:'medium'}}</p>

            <ng-container>
              <div fxFlex="0 1 calc(50% - 32px)">

                <label for="">Start Date:</label>
                <p>{{vacation.StartDate | date:'medium'}}</p>

                <label for="">End Date:</label>
                <p>{{vacation.EndDate | date:'medium'}}</p>

                <label for="">Vacation Title:</label>
                <p>{{vacation.Name}}</p>

                <label for="">Description:</label>
                <p>{{vacation.Description}}</p>

                <label for="">Location:</label>
                <p><img src="{{vacation.ImageSource}}" style="max-width: 188px; border-radius: 5px;"/></p>

                <label for="">Attendees:</label>
                <p>{{vacation.Attendees}}</p>
              </div>
            </ng-container>

            <ng-container>
              <div fxFlex="0 1 calc(50% - 32px)">
                <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editVacationForm">


                  <div>
                    <!-- <mat-form-field>
                      
                        <input matInput [min]="minDate" [matDatepicker]="picker" placeholder="Start - {{vacation.StartDate | date:'medium'}}" formControlName="StartDate" type="datetime" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker startView="month" [startAt]="minDate"></mat-datepicker>
                    </mat-form-field> -->
                    <mat-form-field class="example-full-width">
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Start - {{vacation.StartDate | date:'medium'}}" formControlName="StartDate" type="datetime">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                  </div>


                  <div>
                    <mat-form-field>
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker2" placeholder="End - {{vacation.EndDate | date:'medium'}}" formControlName="EndDate" type="datetime" />
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      <!-- <input matInput placeholder="{{vacation.EndDate | date:'mediumDate'}}" formControlName="EndDate"
                        type="date" /> -->
                    </mat-form-field>
                  </div>


                  <div>
                    <mat-form-field>
                      <input matInput placeholder="{{vacation.Name}}" formControlName="Name" type="text" />
                    </mat-form-field>
                  </div>


                  <div>
                    <mat-form-field>
                      <input matInput placeholder="{{vacation.Description}}" formControlName="Description"
                        type="text" />
                    </mat-form-field>
                  </div>


                  <div>
                    <mat-form-field>
                      <input matInput placeholder="{{vacation.ImageSource}}" formControlName="ImageSource"
                        type="text" />
                    </mat-form-field>
                  </div>

                  <h4>Attendees</h4>
                  <p>{{Attendees.value}}</p>
                  <div id="AttendeeForm">
                    <div formArrayName="Attendees">
                      <div *ngFor="let address of Attendees.controls; let i=index">
                        <mat-form-field style="width: 50%;">
                          <input matInput type="text" [formControlName]="i">
                        </mat-form-field>
                        <a mat-button color="warn" (click)="removeAttendee(i)">Remove</a>
                      </div>
                    </div>
                    <a mat-button color="primary" (click)="addAttendees()">Add Attendee</a>
                  </div>

                  <button mat-raised-button class="nav-btn" color="primary" type="submit" style="float: right">Save</button>
                </form>


              </div>
            </ng-container>
          </div>
        </div>
      </div>
<br>
<hr>
<br>

<h2>This Vacation's Events</h2>
      <div class="VacaEventTable">

        <mat-table #table [dataSource]="dataSource">
          <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
          
          <ng-container matColumnDef="VacaEventName">
            <mat-header-cell *matHeaderCellDef><h3>Name</h3></mat-header-cell>
            <mat-cell *matCellDef="let VacaEvent">{{VacaEvent.Name}}</mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="StartDate">
            <mat-header-cell *matHeaderCellDef><h3>Start Date</h3> </mat-header-cell>
            <mat-cell *matCellDef="let VacaEvent">{{VacaEvent.StartDate | date:'medium'}}</mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="EndDate">
            <mat-header-cell *matHeaderCellDef><h3>End Date</h3></mat-header-cell>
            <mat-cell *matCellDef="let VacaEvent">{{VacaEvent.EndDate | date:'medium'}}</mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="ID">
            <mat-header-cell *matHeaderCellDef><h3>EventTypeID</h3></mat-header-cell>
            <mat-cell *matCellDef="let VacaEvent">{{VacaEvent.EventTypeID}}</mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="Details">
            <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
            <mat-cell *matCellDef="let VacaEvent">
              <i class="material-icons" routerLink="../{{VacaEvent.VacationId}}/detail/{{VacaEvent.ID}}">list_alt</i>
              <i class="material-icons" routerLink="/vacation/{{vacation.ID}}">delete</i>
            </mat-cell>
          </ng-container>
          
        </mat-table>
        <a mat-raised-button color="primary" routerLink="/vacation/{{vacation.ID}}/new-event">+ Add Event</a>
      </div>
    </div>
  </div>
</div>