<div class="sticker-bg">
  <div id="mask">
    <div class="content-container">
      <p>
        Vacation Detail/Edit
      </p>

      <div *ngIf="vacation">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editVacationForm">

          <div>
            <mat-form-field>
              <input matInput placeholder="CreatedDate" formControlName="CreatedDate" type="datetime-local" required
                [value]="vacation.CreatedDate" />
              <!-- <label for="">Vacation Created Date:</label>
    <span>{{vacation.CreatedDate}}</span> -->
            </mat-form-field>
          </div>


          <div>
            <mat-form-field>
              <input matInput placeholder="StartDate" formControlName="StartDate" type="datetime-local" required
                [value]="vacation.StartDate" />
              <!-- <label for="">Vacation Start Date:</label>
    <span>{{vacation.StartDate}}</span> -->
            </mat-form-field>
          </div>



          <div>
            <mat-form-field>
              <input matInput placeholder="EndDate" formControlName="EndDate" type="datetime-local" required
                [value]="vacation.EndDate" />
              <!-- <label for="">Vacation End Date:</label>
    <span>{{vacation.EndDate}}</span> -->
            </mat-form-field>
          </div>


          <div>
            <mat-form-field>
              <input matInput placeholder="Name" formControlName="Name" type="text" required [value]="vacation.Name" />
              <!-- <label for="">Vacation Name:</label>
    <span>{{vacation.Name}}</span> -->
            </mat-form-field>
          </div>


          <div>
            <mat-form-field>
              <input matInput placeholder="Description" formControlName="Description" type="text" required
                [value]="vacation.Description" />
              <!-- <label for="">Vacation Description:</label>
    <span>{{vacation.Description}}</span> -->
            </mat-form-field>
          </div>


          <div>
            <mat-form-field>
              <input matInput placeholder="Cost" formControlName="Cost" type="number" required [value]="vacation.Cost" />
              <!-- <label for="">Vacation Total Cost:</label>
    <span>{{vacation.Cost}}</span> -->
            </mat-form-field>
          </div>


          <div>
            <mat-form-field>
              <input matInput placeholder="ImageSource" formControlName="ImageSource" type="url" required
                [value]="vacation.ImageSource" />
              <!-- <label for="">Vacation Image Source:</label>
    <span><img src="{{vacation.ImageSource}}" /></span> -->
            </mat-form-field>
          </div>

          <!-- to do: make a dropdown that uses names from event-types in database -->
          <div>
            <mat-form-field>
              <input matInput placeholder="Event" formControlName="Event" type="text" required
                [value]="vacation.Event" />
              <!-- <label for="">Vacation Event List:</label>
    <span>{{vacation.ID}}</span> -->
            </mat-form-field>
          </div>

          <!-- to do: remake as input that adds to an existing array to submit to the put request -->
          <div>
            <mat-form-field>
              <input matInput placeholder="Attendees" formControlName="Attendees" type="text" required
                [value]="vacation.Attendees" />
              <!-- <label for="">Vacation Attendees:</label>
    <span>{{vacation.ID}}</span> -->
            </mat-form-field>
          </div>

          <button mat-raised-button class="nav-btn" color="primary" type="submit">Save</button>
        </form>
      </div>

      <a mat-button routerLink="/vacation/my-vacations">Back to My Vacations</a>
    </div>
  </div>
</div>