<div class="sticker-bg">
  <div id="mask">
    <div class="content-container" *ngIf="vacation">
      <div *ngIf="vacation">
      <h2>
        Vacation Detail/Edit
      </h2>
      <br>
      <hr>

      <label for="">Date Created:</label>
      <p>{{vacation.CreatedDate | date:'medium'}}</p>
      <hr>

      <div class="detail-edit">
        <div fxLayout="row wrap" fxLayoutGap="10%" fxLayoutAlign="flex-start">
          <ng-container>
            <div fxFlex="0 1 calc(50% - 32px)">

              <label for="">Start Date:</label>
              <p>{{vacation.StartDate | date:'medium'}}</p>

              <!-- add rest of details here -->

              <a mat-button routerLink="/vacation/my-vacations">Back to My Vacations</a>
            </div>
          </ng-container>

          <ng-container>
            <div fxFlex="0 1 calc(50% - 32px)">
              <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editVacationForm">


                <div>
                  <mat-form-field>
                    <input matInput placeholder="{{vacation.StartDate}}" formControlName="StartDate" type="datetime-local" />
                    <!-- <label for="">Vacation Start Date:</label>
                        <span>{{vacation.StartDate}}</span> -->
                  </mat-form-field>
                </div>


                <div>
                  <mat-form-field>
                    <input matInput placeholder="{{vacation.EndDate}}" formControlName="EndDate" type="datetime-local" />
                    <!-- <label for="">Vacation End Date:</label>
    <span>{{vacation.EndDate}}</span> -->
                  </mat-form-field>
                </div>


                <div>
                  <mat-form-field>
                    <input matInput placeholder="{{vacation.Name}}" formControlName="Name" type="text" />
                    <!-- <label for="">Vacation Name:</label>
    <span>{{vacation.Name}}</span> -->
                  </mat-form-field>
                </div>


                <div>
                  <mat-form-field>
                    <input matInput placeholder="{{vacation.Description}}" formControlName="Description" type="text" />
                    <!-- <label for="">Vacation Description:</label>
    <span>{{vacation.Description}}</span> -->
                  </mat-form-field>
                </div>


                <div>
                  <mat-form-field>
                    <input matInput placeholder="{{vacation.ImageSource}}" formControlName="ImageSource" type="text" />
                    <!-- <label for="">Vacation Image Source:</label>
    <span><img src="{{vacation.ImageSource}}" /></span> -->
                  </mat-form-field>
                </div>


                <!-- to do: remake as input that adds to an existing array to submit to the put request -->
                <div>
                  <mat-form-field>
                    <input matInput placeholder="{{vacation.Attendees}}" formControlName="Attendees" type="text" />
                    <!-- <label for="">Vacation Attendees:</label>
    <span>{{vacation.ID}}</span> -->
                  </mat-form-field>
                </div>

                <button mat-raised-button class="nav-btn" color="primary" type="submit">Save</button>
              </form>
              

            </div>
          </ng-container>
        </div>
      </div>
</div>


      <div class="VacaEventTable">

          <a mat-raised-button color="primary"  routerLink="/vacation/{{vacation.ID}}">Edit</a>
        <mat-table #table [dataSource]="dataSource">
          <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
    
        <ng-container matColumnDef="EventID">
          <mat-header-cell *matHeaderCellDef>Event ID</mat-header-cell>
          <mat-cell *matCellDef="let VacaEvent">{{VacaEvent.ID}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="VacationId">
            <mat-header-cell *matHeaderCellDef>Event</mat-header-cell>
            <mat-cell *matCellDef="let VacaEvent">{{VacaEvent.VacationID}}</mat-cell>
          </ng-container>
      
        <ng-container matColumnDef="VacaEventName">
          <mat-header-cell *matHeaderCellDef>Event Name</mat-header-cell>
          <mat-cell *matCellDef="let VacaEvent">{{VacaEvent.Name}}</mat-cell>
        </ng-container>
          
        <ng-container matColumnDef="Update">
            <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
            <mat-cell *matCellDef="let VacaEvent" routerLink="../vacation/{{VacaEvent.VacationId}}/detail/{{VacaEvent.ID}}">
              <i class="material-icons">Update</i>
            </mat-cell>
          </ng-container>
        
        </mat-table>
      </div>
    </div>
  </div>