p{
    font-family: 'Nothing You Could Do', cursive;
}

#attendeeLine {
    font-family: 'Nothing You Could Do', cursive;
    background-color: rgb(253, 236, 215);
    border-style: inset;
}

#AttendeeForm a {
    background-color: seashell;
    color: black;
    text-decoration: underline;
}

#back {
    margin-top: 100%;
}